.nav-wrapper {
    background-color: #17142c;
  }
nav {
    height: 80px;
    line-height: 30px;
}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    height: 80px;
    line-height: 30px;
}

nav .button-collapse i {
    height: 80px;
    line-height: 30px;
}

nav .brand-logo { 
    font-size: 1.6rem; 
}

.tabs {

            background-color: #17142c;
}
.tabs .tab a{
            color:white;
        } /*Black color to the text*/

.tabs .tab a:hover {
            background-color: #17142c;;
            color:#000;
      
        } /*Text color on hover*/
.tabs .tab a.active {
            color:#e12a67;
        } /*Background and text color when a tab is active*/

.tabs .indicator {
            background-color:grey;
            color: white;
        } /*Color of underline*/
